<html>

<head>
    <link rel="stylesheet" href="contact_us.css">
    <title>Contact Us - Thulir Academy</title>
</head>

<body>

    <nav>
      <a href="/">Home</a>
      <a href="/aboutus">About_us</a>
      <a href="/gallery">Gallery</a>
      <a href="/contactus">Contact_us</a>
    </nav>

    <h1>Contact Us</h1>

    <form action="/send">

        <b>

        <label>Name</label>
        <input type="text" placeholder="Enter your name"></b>
        <br><br>

        <b>
        <label>Number</label>
        <input type="tel" placeholder="Enter your number"></b>
        <br><br>

        <b>
        <label>Message</label>
        <textarea rows="5" placeholder="Enter your message"></textarea></b>
        <br><br>

        <b></b>
        <button type="submit">Submit</button></b>
        <br><br>

    </form>

</body>

</html>
