<html>
    <title>Thulir Academy</title>
    <link rel="stylesheet" href="static/css/home.css">
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/aboutus">About us</a>
            <a href="/gallery">Gallery</a>
            <a href="/contactus">Contact us</a>
        </nav>
        <h1><i>Thulir Academy</i></h1>
        <div class="hero">
            <img src="static/images/cover img.png">
            <h2><i>“Where Young Minds Blossom.”</i></h2>
        </div>
        <div class="offer">
            <img src="static/images/sec img.png">
        </div>
    </body>
</html>*