<html>
    <title>Thulir Academy</title>
    <link rel="stylesheet" href="static/css/home.css">
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about_us">About_us</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact_us">Contact_us</a>
        </nav>
        <h1><i>Thulir Academy</i></h1>
        <div class="hero">
            <img src="static/images/cover img.png">
        </div>
        <div class="offer">
            <img src="static/images/sec img.png">
        </div>
    </body>
</html>*